html {
    height: 100%;
    width:100%;
    background-color: black;
}

body {
    margin: 0;
    height: auto;
    min-height: 100%;
    width: 100%;
    overflow: auto;

    background-image: url("/static/images/grid.png");
    background-attachment: fixed;
    background-repeat: repeat;
    background-position: top left;
    background-color: white;

    /*background-color: #D4D5FC;*/
}

#top-bar {
    height: 7px;
    width: 100%;
    background-color: black;
}

#heading-container, #content-container {
    text-align: center;
}

#content-container {
    padding-bottom: 50px;
}

#nav-container {
    position: absolute;
}