html {
    height: 100%;
    width:100%;
    background-color: blue;
}

body {
    margin: 0;
    height: auto;
    min-height: 100%;
    width: 100%;
    overflow: auto;

    background-image: url("/static/images/grid.png");
    background-attachment: fixed;
    background-repeat: repeat;
    background-position: top left;
    background-color: white;

    /*background-color: #D4D5FC;*/
}

#top-bar {
    height: 7px;
    width: 100%;
    background-color: black;
}

#heading-container, #content-container {
    text-align: center;
}

#content-container {
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
}

#nav-container {
    position: absolute;
}

#nav ul {
    list-style-type: none;
}

.heading {
    margin: 10px auto 32px;
    display: inline-block;
    overflow: hidden;
    font-size: 24px;
    letter-spacing: 0.75em;
    text-transform: uppercase;
    color: #66FF00;
}

h1, span, caption, a {
    background-color: white;
}

a {
  color: black;
  font-size: 16px;
  line-height: 2rem;
}

a.nav-link {
    text-transform: uppercase;
    letter-spacing: 0.75em;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    border: 2px solid blue;
    margin: 10px;
}

img.small {
    max-width: 500px;
    max-height: 500px;
}

img.med {
    max-width: 600px;
    max-height: 600px;
}

img.large {
    max-width: 700px;
    max-height: 700px;
}

.reading-log .section {
    background-color: white;
    width: 650px;
    padding-right: 20px;
    padding-bottom: 10px;
    margin-bottom: 30px;
}

.reading-log .section h2 {
    display: inline-block;
    letter-spacing: 0.4em;
    text-transform: uppercase;
}

.reading-log .section ol {
    text-align: left;
}
