<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>Dream State</title>
    <meta name="description" content="Dream State">
    <meta name="author" content="Connie">

    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- favicon stuff -->
    <head profile="http://www.w3.org/2005/10/profile">
    <link rel="apple-touch-icon" sizes="76x76" href="static/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/images/favicon-16x16.png">
    <link rel="mask-icon" href="static/images/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="static/src/css/style.css" />

    <script type="text/javascript" src="static/src/js/lib/babel.min.js"></script>
    <script type="text/javascript" src="static/src/js/lib/react.min.js"></script>
    <script type="text/javascript" src="static/src/js/lib/react-dom.min.js"></script>

    <script type="text/babel" src="static/src/js/page.js"></script>
    {% block scripts %}{% endblock %}
  </head>

  <body>
    <!-- <div id="top-bar"></div> -->
    <div id="heading-container"></div>
    <div id="nav-container"></div>
    <div id="content-container"></div>
  </body>
</html>